{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12"
      },
      "modules": false
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": []
}